body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.userTime {
    width: 120px;
    height: 60px;
    font-size: 30px;
    color: black;
    border: 3px solid black;
    text-align: center;
    margin-top: 10px;
    vertical-align: middle;
}

.username {
    font-size: 18px;
    color: black;
}

.userAddress {
    font-size: 16px;
    color: black;
}

.elo {
    color: black;
    font-size: 16px;
}

.user {
    margin: 2%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.userinfo {
    display: flex;
    flex-direction: column;
}

#outerLog {
    background-color: aliceblue;
    width: 22%;
    margin: 60px;
    border: 3px aliceblue;
    border-radius: 10px;
    overflow: hidden;
}

#innerLog {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 35%;
    font-size: large;
    background-color: aliceblue;
    height: 77vh;
    overflow-y: auto;
}

#chatbox {
    background-color: aliceblue;
    width: 22%;
    margin: 60px;
    padding: 10px;
    border-radius: 10px;
    border-color: aliceblue;
}

#textInput {
    width: 100%;
}

#everything {
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
}

#chessboard > div > cg-helper > cg-container > svg.cg-custom-svgs {
    height: 0px;
}

#dashboard {
    background-color: aliceblue;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin: 60px;
    flex-direction: column;
    height: 30%;
    margin-top: 13%;
    vertical-align: middle;
}
