body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.userTime {
    font-size: 50px;
    color: black;
    border: 3px solid black;
    margin: 2%;
    text-align: center;
}

.username {
    font-size: 18px;
    color: black;
}

.userAddress {
    width: 100%;
    font-size: 16px;
    color: black;
}

.rating {
    color: black;
    font-size: 16px;
}

.user {
    margin: 2%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.userinfo {
    display: block;
    flex-direction: column;
    width: 100%;
}

#outerLog {
    background-color: aliceblue;
    width: 22%;
    margin: 60px;
    margin-top: 8%;
    border: 3px aliceblue;
    border-radius: 10px;
    height: 70vh;
    overflow: hidden;
}

#innerLog {
    margin-bottom: 30px;
    font-size: large;
    background-color: aliceblue;
    height: 70vh;
    overflow-y: auto;
    text-align: center;
}

#chatbox {
    background-color: aliceblue;
    width: 22%;
    margin: 60px;
    padding: 10px;
    border-radius: 10px;
    border-color: aliceblue;
}

#textInput {
    width: 100%;
}

#everything {
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
}

#userAddress {
    max-width: 50px;
}

#chessboard > div > cg-helper > cg-container > svg.cg-custom-svgs {
    height: 0px;
}

#dashboard {
    background-color: aliceblue;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin-left: 60px;
    margin-right: 30px;
    flex-direction: column;
    height: 30%;
    margin-top: 12.5%;
    vertical-align: middle;
}
