.userTime {
    width: 150px;
    font-size: 30px;
    color: white;
    border: 3px solid white;
    text-align: center;
    right: 13.5%;
    position: absolute;
    margin-top: 25px;
}

.username {
    left: 10%;
    margin-top: 17px;
    position: absolute;
    font-size: 18px;
    color: white;
}

.userAddress {
    left: 10%;
    margin-top: 40px;
    position: absolute;
    font-size: 16px;
    color: white;
}

.elo {
    left: 10%;
    margin-top: 63px;
    position: absolute;
    color: white;
    font-size: 16px;
}